
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background: url('../imagens/fundo.jpg') no-repeat center center fixed; 
    background-size: cover; 
    color: #333;
    line-height: 1.6;
    height: 100%; 
    display: flex;
    flex-direction: column;
}


header {
    background: rgba(75, 99, 130, 0.8); 
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 2px solid #2a3341;
}

header .logo img {
    width: 300px;
    height: 80px;
    object-fit: contain;
}

header .logo p {
    font-size: 24px;
    color: white;
    margin: 0;
}


header nav {
    display: flex;
    flex: 1;
    justify-content: center; 
}

header nav .nav-links {
    list-style: none;
    display: flex;
    gap: 30px; 
    align-items: center;
}

header nav .nav-links a {
    color: #1d5983d0;
    text-decoration: none;
    font-size: 18px; 
    padding: 12px 25px; 
    border-radius: 5px;
    background-color: #ffffff; 
    transition: background-color 0.3s, color 0.3s;
}

header nav .nav-links a:hover {
    background-color: white;
    color: #1d5983d0;
}


header nav .corretor-btn {
    padding: 15px 30px;
    background-color: rgba(0, 123, 255, 0); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: auto; 
}

header nav .corretor-btn img {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

header nav .corretor-btn img:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}


main {
    flex: 1; 
    background: rgba(255, 255, 255, 0);
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.contact-form {
    margin: 30px auto;
    padding: 20px;
    background: #759ebcd0; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 600px; 
    color: white; 
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center; 
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%; 
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form input,
.contact-form textarea {
    background: #f0f0f0d0; 
    color: #000; 
}

.contact-form textarea {
    resize: none; 
    height: 120px; 
}

.contact-form button {
    background-color: #3f5269;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #759ebc;
}




footer {
    text-align: center;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-top: auto; 
    border-top: 2px solid #2a3341;
    position: relative; 
}

footer p {
    font-size: 14px;
}


@media (max-width: 768px) {
    header .logo img {
        width: 200px;
        height: auto;
    }

    .property-gallery .thumbnail-gallery img {
        width: 80px;
        height: 50px;
    }
}
